## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)

[95, 52, 51, 23, 0, 94, 19, 12, 5, 82, 39, 72, 54, 44, 14, 84, 77, 13, 69, 43, 21, 80, 1, 49, 90, 57, 27, 30, 50, 6, 74, 65, 79, 63, 8, 88, 16, 2, 75, 7, 68, 92, 36, 78, 60, 76, 61, 81, 48, 18, 31, 67, 38, 32, 17, 55, 29, 22, 53, 37, 62, 86, 24, 15, 70, 4, 20, 3, 87, 85, 73, 25, 10, 41, 98, 35, 40, 91, 66, 64]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 29, 30, 31, 32, 35, 36, 37, 38, 39, 40, 41, 43, 44, 48, 49, 50, 51, 52, 53, 54, 55, 57, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 94, 95, 98}

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = [random.randint(1,100) for x in range(80)]
print(sample_list_2)
len(sample_list_2)

[88, 78, 90, 42, 85, 41, 88, 25, 84, 30, 73, 72, 37, 84, 73, 3, 77, 77, 6, 100, 44, 10, 14, 87, 48, 73, 31, 48, 87, 70, 87, 32, 53, 97, 1, 99, 94, 22, 1, 30, 44, 64, 23, 37, 28, 28, 62, 69, 78, 6, 73, 84, 16, 41, 38, 9, 4, 57, 14, 55, 83, 30, 8, 75, 87, 64, 10, 5, 65, 26, 88, 41, 43, 48, 47, 92, 67, 37, 53, 22]

80

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(set2)
len(set2)

{1, 3, 4, 5, 6, 8, 9, 10, 14, 16, 22, 23, 25, 26, 28, 30, 31, 32, 37, 38, 41, 42, 43, 44, 47, 48, 53, 55, 57, 62, 64, 65, 67, 69, 70, 72, 73, 75, 77, 78, 83, 84, 85, 87, 88, 90, 92, 94, 97, 99, 100}

51

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1.difference(set2)
print(set3)
len(set3)

{0, 2, 7, 12, 13, 15, 17, 18, 19, 20, 21, 24, 27, 29, 35, 36, 39, 40, 49, 50, 51, 52, 54, 60, 61, 63, 66, 68, 74, 76, 79, 80, 81, 82, 86, 91, 95, 98}

38

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2.difference(set1)
print(set4)
len(set4)

{97, 99, 100, 9, 42, 47, 83, 26, 28}

9

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.intersection(set2)
print(set5)
len(set5)

{1, 3, 4, 5, 6, 8, 10, 14, 16, 22, 23, 25, 30, 31, 32, 37, 38, 41, 43, 44, 48, 53, 55, 57, 62, 64, 65, 67, 69, 70, 72, 73, 75, 77, 78, 84, 85, 87, 88, 90, 92, 94}

42

#### 8 - Create an empty set called `set6`.

In [9]:
set6 = set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [10]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 29, 30, 31, 32, 35, 36, 37, 38, 39, 40, 41, 43, 44, 48, 49, 50, 51, 52, 53, 54, 55, 57, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 94, 95, 98}

#### 10 - Check if `set1` and `set6` are equal.

In [11]:
set1 == set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [12]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [13]:
set7 = set3.union(set4,set5)
print(set7)
len(set7)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 94, 95, 97, 98, 99, 100}

89

In [14]:
set8 = set1.union(set2)
print(set8)
len(set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 94, 95, 97, 98, 99, 100}

89

In [15]:
set7 == set8

True

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [16]:
set1.pop(0)
print(set1)

#Pop method in sets takes no parameters, removing a random element from the set and returning the value removed.

#If I try to direct it to the first element of the set, which is 0, like I did above, it won't go through.

TypeError: set.pop() takes no arguments (1 given)

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print(set1)    
len(set1)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 30, 32, 35, 36, 37, 38, 40, 43, 44, 48, 50, 52, 53, 54, 55, 57, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 84, 85, 86, 87, 88, 90, 92, 94, 95, 98}

66

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [18]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [19]:
father_set = set(father_list) - set(Carlos_list) - set(Jo_list)
mother_set = set(mother_list)
Jo_set = set(Jo_list) - set(Carlos_list) - set(father_list)
Carlos_set = set(Carlos_list) - set(Jo_list) - set(father_list)
Mattia_set = set(Mattia_list)

print("Father distinct list is ", father_set)
print("Jo distinct list is ", Jo_set)
print("Carlos distinct list is ",Carlos_set)


# From what I understood of the exercise, we needed to find out the distinct items that each family member wanted.

# The ones on their groceries list and not on other lists are below

Father distinct list is  set()
Jo distinct list is  {'sugar', 'milk', 'juice'}
Carlos distinct list is  {'water', 'cherries'}

In [20]:
family_list = father_list + mother_list + Jo_list + Carlos_list + Mattia_list
family_set = set(family_list)
print(family_set)
len(family_set)
# Here the complete family grocery list with no repetitions

{'onions', 'flour', 'sugar', 'tomatoes', 'watermelon', 'gums', 'juice', 'water', 'toilet paper', 'cherries', 'garlic', 'milk', 'cucumber', 'yogurt', 'blueberries'}

15

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [21]:
# Mattia wants a list with items that are unique in the siblings lists when compared to each other.

Mattia_set = set(Carlos_set.symmetric_difference(Jo_set))
print(Mattia_set)

{'sugar', 'juice', 'water', 'cherries', 'milk'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [22]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['cherries', 'milk', 'cucumber', 'gums', 'onions', 'milk', 'vinegar', 'shampoo', 'bread', 'juice']

In [23]:
mother_set = set(mother_list)
print(mother_set)
len(mother_set)

{'onions', 'juice', 'gums', 'vinegar', 'cherries', 'bread', 'milk', 'cucumber', 'shampoo'}

9

In [24]:
mother_list = list(mother_set)
print(mother_list)             #redefining mother list as will be needed below

['onions', 'juice', 'gums', 'vinegar', 'cherries', 'bread', 'milk', 'cucumber', 'shampoo']

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [25]:
family_list = father_list + mother_list + Jo_list + Carlos_list + Mattia_list
family_set = set(family_list)

for item in family_list:
    if item == "toilet paper":
        family_set.discard(item) 
print(family_set) 
len(family_set)

# Toilet paper discarted

{'onions', 'flour', 'juice', 'sugar', 'watermelon', 'gums', 'tomatoes', 'water', 'shampoo', 'vinegar', 'cherries', 'bread', 'garlic', 'milk', 'cucumber', 'yogurt', 'blueberries'}

17

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [26]:
print(family_set)

{'onions', 'flour', 'juice', 'sugar', 'watermelon', 'gums', 'tomatoes', 'water', 'shampoo', 'vinegar', 'cherries', 'bread', 'garlic', 'milk', 'cucumber', 'yogurt', 'blueberries'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [27]:
for i in range(5):
    family_set.pop()
print(family_set)
len(family_set)

{'gums', 'tomatoes', 'water', 'shampoo', 'vinegar', 'cherries', 'bread', 'garlic', 'milk', 'cucumber', 'yogurt', 'blueberries'}

12